body {
    background-color: #f8f9fa;
}

h1 {
    color: #007bff;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    margin-top: 40px;
}

.img-fluid {
    max-height: 800px;
    object-fit: cover;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item button {
    margin-left: 10px;
}
